<table class="table table-dark table-striped table-hover mt-3">
  <thead class="bg-secondary text-center">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Degree</th>
    <th>Contact</th>
    <th>Address</th>
    <th>Update</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let stud of studentService.allStudent">
      <td>{{stud.firstName}}</td>
      <td>{{stud.lastName}}</td>
      <td>{{stud.degree}}</td>
      <td>{{stud.contact}}</td>
      <td>{{stud.address}}</td>
      <td><a (click)="updateStudent(stud)"><i class="text-warning fa fa-edit"></i></a></td>
      <td><a (click)="deleteStudent(stud.id)"><i class="text-danger fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>
